.media-card{
    transition: ease-in-out 0.2s;
    object-fit: cover;
  
}

.media-card-contain{
    object-fit: contain;
}
/* 
.hover-media-card:hover{
 
    transform: scale(1.1);
} */

.caption-overlap{
    align-items: center;
    padding-bottom: 5em;
}

.card-header{
    margin-left: -5px;
    font-size: 4.5em;
    font-family: var(--header-font) !important;
}

.card-date{
    font-size: 1.5em;
}

.card-content{
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}
