.banner-card{
    box-shadow: none !important;
}

.grid-content{
    padding:5em !important;
}

.banner-card{
    box-shadow: none !important;
    border-radius: 0px !important;
}

.banner-image{
    width:90%;
    margin:auto;
    object-fit: cover;
    min-height: 100vh;
}

